name: Build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Check
        uses: actions/checkout@v4
        env:
            GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          if [[ "${{ github.event.head_commit.message }}" != *"release:"* ]]; then
            exit 1
          fi

  build:
    runs-on: windows-latest
    needs: checkout
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: msys2/setup-msys2@v2
        
        with: 
          msystem: UCRT64
          update: true
          install: git mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-MinHook
        
        shell: msys2 {0}
        run: |
          dir